:root{
    --main-color:#bac34e;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    user-select: none;
    scroll-behavior: smooth;

}



/* start-navbar */
.nav{
    
    font-weight: bolder;
    color: #222;
}
.nav svg{
    color: var(--main-color);
}
.nav-link{
    color: #666;
    transition: .3s;
    font-weight: 400 !important;
}
.nav-link:hover{
    color: var(--main-color);
}


.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}





/* finish-navbar */



/* start-HomePage */

.home{
    padding-top: 3em;
    min-height: 92vh;
    background: url("../images/home-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: grab;
    
}
.home .content {
    margin-top: 25%;
}
.home .content p{
    color: #666;
    font-size: 1.5em;
}
.home .content h3{
    font-size: 4em;
    color: #222;
    padding: 15px 0;
}
.home .content button{
    display: block;
    padding: 5px 15px;
    background-color: var(--main-color);
    color: white;
    border-color: transparent;
    transition: .3s;
    border-radius: 6px;
    font-size: 1.7em;
    margin-top: 15px;
}
.home .content button:hover{
    background-color: #222;
    
}

.Home-image{
    margin-top: 20%;
}

.box{
    position: relative;
    height: 20em;
    overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
    transition: .3s;
}
.box .cont{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.cont p{
    color: #666;
    
}
.cont h3{
    font-size: 1.4em;
    color: #222;
    padding: 10px 0;
}
.cont button{
    display: block;
    padding: 5px 15px;
    background-color: var(--main-color);
    color: white;
    border-color: transparent;
    transition: .3s;
    border-radius: 6px;
    font-size: 1.1em;
}
.box:hover img{
    transform: scale(1.2);
}
.cont button:hover{
    background-color: #222;
    
}

/* finish-HomePage */

/* start-ShopPage */

.head{
    padding-top: 3em;
    min-height: 30vh;
    background: url("../images/heading-bg.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
}
.head-link{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-head{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cat-head span{
    color: var(--main-color);
}

.cat-cont .nav-link{
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 900;
}

.product{
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
}
.product-cont h3{
    font-size: 1.8em;
    color: #222;
}
.product-cont .price {
    font-size: 1.5em;
    color: #222;
    padding: .9em 0;
}
.stars{
    color: var(--main-color);
    padding-bottom: 20px;
}
.stars svg{
    margin-right: 5px;
}
.product:hover .icons{
    top: 0%;
}
.icons{
    min-height: 65%;
    width: 100%;
    background: rgba(243, 243, 243, 0.8);
    z-index: 555;
    position: absolute;
    top: -65%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    
}
.icons svg{
    padding:  15px;
    background: #fff;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    color: #666;
    transition: .3s;
}
.icons svg:hover{
    background-color: var(--main-color);
    color: #fff;
}

/* finish-ShopPage */



/* start-AboutPage */

.about-cont span{
    color: #bac34e;
    font-size: 1.8em;
}
.about-cont h3{
    color: #222;
    font-size: 2.2em;
    padding-top: 15px;
}
.about-cont p{
    color: #666;
    line-height: 2;
    padding: 15px 0;
}
.about-cont button{
    display: block;
    padding: 5px 15px;
    background-color: var(--main-color);
    color: white;
    border-color: transparent;
    transition: .3s;
    border-radius: 6px;
    font-size: 1.1em;
}
.about-cont button:hover{
    background-color: #222;
}
.gallery-image{
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.gallery-image img{
    transition: .3s;
    
}
.gallery-image:hover img{
    transform: scale(1.2);
}
.gallery-image:hover .gallery-icons{
    bottom: 0;
}
.gallery-icons{
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    transition: .3s;
    bottom: -20%;
    min-height: 20%;
    width: 100%;
    z-index: 5555;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gallery-icons svg{
    font-size: 1.2em;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
}
.gallery-icons svg:hover{
    color: var(--main-color);
}
/* finish-AboutPage */




/* start-ReviewPage */


.icon{
    display: flex;
    align-items: center;
}
.review-cont{
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.review-head{
    display: flex;
    align-items: center;
}
.review-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.review-image img{
    border-radius: 50%;
}
.info{
    text-transform: capitalize;
    margin-left: 15px;
}
.info span{
    color: var(--main-color);
}
.review-cont p{
    color: #666;
}



/* finish-ReviewPage */


/* start-BlogPage */

.blog-cont{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.blog-image{
    overflow: hidden;
}
.blog-image img{
    transition: .3s;
}
.blog-content{
    padding: 10px;
}
.blog-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.blog-content h3{
    text-transform: capitalize;
    color: #222;
}
.blog-content p{
    
    color: #666;
    line-height: 2;
    padding: 10px 0;
}

.blog-content button{
    display: block;
    padding: 5px 15px;
    background-color: var(--main-color);
    color: white;
    border-color: transparent;
    transition: .3s;
    border-radius: 6px;
    font-size: 1.1em;
}
.blog-content button:hover{
    background-color: #222;
}

.blog-cont:hover img{
    transform: scale(1.2);
}

/* finish-BlogPage */


/* start-ContactPage */
.contact-cont{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2em;
    min-height: 292px;
}
.contact-cont svg{
    padding: 25px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.3em;
    margin-bottom: 15px;
}
.contact-cont span{
    display: block;
    margin-top: 15px;
    color: #666;
}

form{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2em;
}
.inputs{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.inputs input{
    border-color: rgba(0, 0, 0, 0.1);
    outline-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    width: 45%;
    color: #222;
    font-size: 1.3em;
}
textarea{
    border-color: rgba(0, 0, 0, 0.1);
    outline-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    width: 100%;
    color: #222;
    font-size: 1.3em;
}
form button{
    display: block;
    padding: 5px 15px;
    background-color: var(--main-color);
    color: white;
    border-color: transparent;
    transition: .3s;
    border-radius: 6px;
    font-size: 1.1em;
    margin-top: 15px;
}
form button:hover{
    background-color: #222;
}
.map{
    width: 100%;
    height: 100%;
}

/* finish-ContactPage */

/* start-footer */
footer{
    
    background-color: #f3f3f3;
}
.Allrights{
    background-color: var(--main-color);
    color: white;
    font-size: 1.7em;
}

.links .nav-link{
    transition: .3s;
}
.links svg{
    color: var(--main-color);
}
.links .nav-link:hover{
    transform: translateX(15px);
}



/* finish-footer */










@media (max-width: 991px){
    .Nav a{
        
        display: block;
        background-color: #f3f3f3;
        padding: 10px;
        margin: 10px;
        border-radius: 6px;
    }
    .home .content, .Home-image{
        margin-top: 0%;
    }
}


@media (max-width: 767px){
  
  
    .home .content p{
        color: #666;
        font-size: 1.5em;
    }
    .home .content h3{
        font-size: 4em;
        color: #222;
        padding: 15px 0;
    }
    .home .content button{
        font-size: 1.3em;
    }
    
}
@media (max-width: 450px){
  
    
    .home .content p{
        color: #666;
        font-size: 1.2em;
    }
    .home .content h3{
        font-size: 2.5em;
        color: #222;
        padding: 15px 0;
    }
    .home .content button{
        font-size: 1.1em;
    }
    
}